In [2]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')
df = pd.read_csv('anime.csv')
df

2022-11-01 14:08:27.443 INFO    numexpr.utils: NumExpr defaulting to 8 threads.

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [3]:
df.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [4]:
df.dropna(subset=['type'], inplace=True)
df.dropna(subset=['genre'], inplace=True)
df.dropna(subset=['rating'], inplace=True)
df.isnull().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12017 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12017 non-null  int64
 1   name      12017 non-null  object
 2   genre     12017 non-null  object
 3   type      12017 non-null  object
 4   episodes  12017 non-null  object
 5   rating    12017 non-null  float64
 6   members   12017 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 751.1+ KB

In [6]:
import numpy as np
df = df.sample(5000)
df = df.convert_dtypes(convert_integer=True)
# df['episodes'] = df['episodes'].astype(int)

In [7]:
df=df[~df['episodes'].isin(["Unknown"])] 
df['episodes'] = df['episodes'].astype('int')

In [8]:
df.to_csv('anime2.csv')

In [9]:
df['genre'] = df['genre'].apply(lambda x: str(x).split(','))
df.head(10)

,anime_id,name,genre,type,episodes,rating,members
579,5485,Shin Mazinger Shougeki! Z-hen,"[Action, Mecha, Shounen, Super Power]",TV,26,7.96,7872
4337,21569,Pokemon XY: Hakai no Mayu to Diancie,"[Adventure, Fantasy, Kids]",Movie,1,6.75,9290
4876,9943,Ore-sama Kingdom,"[Romance, Shoujo]",OVA,14,6.61,1846
10232,22657,Shin Seikimatsu: Yatsuto no Souguu,"[Comedy, Sci-Fi]",ONA,5,4.9,73
2935,4773,Yamato Takeru,"[Action, Adventure, Fantasy, Magic, Mecha,...",TV,37,7.13,883
1259,9181,Motto To LOVE-Ru,"[Comedy, Ecchi, Harem, School, Sci-Fi, Sh...",TV,12,7.61,134988
10350,16163,Sore Ike! Anpanman: Kirakira Boshi no Namida,"[Adventure, Comedy, Kids, Super Power]",Movie,1,6.07,121
8627,21525,Geba Geba Shou Time!,[Comedy],OVA,1,5.0,50
4490,2067,Gekiganger 3: The Movie,"[Action, Comedy, Mecha, Parody, Sci-Fi, S...",OVA,1,6.71,2562
4680,32214,Koukaku no Pandora,"[Action, Comedy, Ecchi, Sci-Fi]",TV,12,6.66,25545

In [10]:
df = df.explode('genre')
df

,anime_id,name,genre,type,episodes,rating,members
579,5485,Shin Mazinger Shougeki! Z-hen,Action,TV,26,7.96,7872
579,5485,Shin Mazinger Shougeki! Z-hen,Mecha,TV,26,7.96,7872
579,5485,Shin Mazinger Shougeki! Z-hen,Shounen,TV,26,7.96,7872
579,5485,Shin Mazinger Shougeki! Z-hen,Super Power,TV,26,7.96,7872
4337,21569,Pokemon XY: Hakai no Mayu to Diancie,Adventure,Movie,1,6.75,9290
...,...,...,...,...,...,...,...
10770,30140,Xing Mao Lixian Ji Zhi Shu Fa Pian,Kids,TV,26,6.33,45
3803,10098,Kobato.: Hajimete no Kobato.,Comedy,Special,8,6.88,6001
3803,10098,Kobato.: Hajimete no Kobato.,Drama,Special,8,6.88,6001
3803,10098,Kobato.: Hajimete no Kobato.,Fantasy,Special,8,6.88,6001
7699,23065,Kaidan,Supernatural,Movie,1,5.13,293

In [11]:
df.to_csv('anime3.csv')

In [12]:
df3 = pd.read_csv('anime3.csv')
df3 = df3[['name','genre']].groupby('genre').count()
df3.index

Index([' Adventure', ' Cars', ' Comedy', ' Dementia', ' Demons', ' Drama',
       ' Ecchi', ' Fantasy', ' Game', ' Harem', ' Hentai', ' Historical',
       ' Horror', ' Josei', ' Kids', ' Magic', ' Martial Arts', ' Mecha',
       ' Military', ' Music', ' Mystery', ' Parody', ' Police',
       ' Psychological', ' Romance', ' Samurai', ' School', ' Sci-Fi',
       ' Seinen', ' Shoujo', ' Shoujo Ai', ' Shounen', ' Shounen Ai',
       ' Slice of Life', ' Space', ' Sports', ' Super Power', ' Supernatural',
       ' Thriller', ' Vampire', ' Yaoi', ' Yuri', 'Action', 'Adventure',
       'Cars', 'Comedy', 'Dementia', 'Demons', 'Drama', 'Ecchi', 'Fantasy',
       'Game', 'Harem', 'Hentai', 'Historical', 'Horror', 'Josei', 'Kids',
       'Magic', 'Mecha', 'Military', 'Music', 'Mystery', 'Parody',
       'Psychological', 'Romance', 'Samurai', 'School', 'Sci-Fi', 'Seinen',
       'Shoujo', 'Shounen', 'Slice of Life', 'Sports', 'Supernatural',
       'Vampire'],
      dtype='object', name='genre')

In [13]:
df_type = df[['type','name']].groupby('type').count()
df_type['percentage'] = df_type['name']/len(df)
df_type

         name  percentage
type
Movie    2736    0.186275
Music     378    0.025735
ONA       545    0.037105
OVA      3705    0.252247
Special  2059    0.140182
TV       5265    0.358456

In [18]:
df3 = pd.read_csv('anime3.csv')
st.subheader('Top 10 Genre')

df3 = df3[['name','genre']].groupby('genre').count()
genre_num = df3.sort_values(by='name')
genre_num

          name
genre
Vampire      1
Samurai      1
Josei        2
Seinen       4
Shoujo       5
...        ...
 Shounen   651
 Fantasy   739
 Sci-Fi    793
Action    1127
Comedy    1319

[76 rows x 1 columns]